:root {
    font-size: 16px;
    font-family: 'Libre Franklin';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #4b1a1a;
    --bg-secondary: #141111;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #880101;
}

main { 
    margin-left: 5rem;
    padding: 0;
    min-height: 100vh;
}


.navbar {
    height: 100vh;
    position: fixed; 
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child { 
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7) brightness(40);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.9rem;
}

i {
    color: #9c0909;
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
    margin-left: 1.6rem;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}


.container .hero{
    height: 100vh;
}

.hero {
    margin-left: -4px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image:  url(../img/redwave.png), linear-gradient(to bottom right, rgb(27, 26, 26), rgb(27, 3, 3));
}

.heroTexto {
    flex: 1;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroImage {
    flex: 1;
    background: rgba(255, 255, 255, 0.0);
    background-image: url(../img/electronics.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nombreSV {
    font-size: 6vw;
    color: #ececec;
    text-shadow: 2px 2px #4d090975;
    font-weight: bold;
}

.descriccionSV {
    font-size: 1.5vw;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {

    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .hero{
        flex-direction: column;
    }

}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
    }
    
    .navbar:hover {
        width: 16rem;  
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}